body {
    width: 100%;
    background-color: #505050;
}
.global {
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    /*justify-content: space-between;*/
    position: relative;
}
.wrap {
    justify-content: space-between;
    position: relative;
    display: flex;
    width: 100%;
    height: 650px;
    /*flex-wrap: wrap;*/
}
.grey_box {
    background: #909090;
    box-shadow: 7px 7px 5px;
    border-radius: 10px;
    margin-top: 15px;
    padding: 5px;
}
.horizontal {
    height: 20%;
    width: 100%;
    position: relative;
}
.img_doft {
    height: 100px;
}
.img_close {
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.img_reload {
    height: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.img_loupe {
    height: 100%;
    position: absolute;
    right: 50px;
    bottom: -15px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /*height: 650px;*/
    position: relative;
}
.vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
    height: 400px;

}
.center {
    align-content: stretch;
    /*display: block;*/
    justify-content: center;
    width: 80%;
    height: 120%;
}

.side_image {
    width: auto;
    /*width: 30%;*/
    height: 20%;
    /*position: real;*/
    /*top: 0px;*/
}

.down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.central_img {
    width: 100%;

}

.chat {
    background-color: #88FF89;
    position: absolute;
    bottom: -60px;
    left: 0px;
    /*right: 50px;*/
    width: 35%;
    height: 20%;
    box-shadow: 7px 7px 5px;
    border-radius: 10px;
    margin-top: 15px;
    padding: 5px;
}
